 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 426px;
}

.u-section-1 .u-group-1 {
  width: 623px;
  min-height: 277px;
  height: auto;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 40px rgba(0,0,0,1);
  font-size: 3.75rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1084px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1014px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-icon-1 {
  width: 84px;
  height: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 10px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 203px;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 430px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 30px auto 0 20px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  background-image: none;
  margin: 20px 50px 0 20px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 584px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 36px 87px 0 63px;
}

.u-section-2 .u-text-5 {
  margin: 20px 51px 0 63px;
}

.u-section-2 .u-image-1 {
  width: 201px;
  height: 82px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 21px auto 0 86px;
}

.u-section-2 .u-image-2 {
  width: 201px;
  height: 58px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 20px auto 0 86px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 584px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-2 .u-text-7 {
  margin: 20px 1px 0 0;
}

.u-section-2 .u-image-3 {
  width: 200px;
  height: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 40px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 836px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 482px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 38px;
    margin-right: 45px;
    margin-left: 24px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 13px;
    margin-right: 15px;
    margin-left: 24px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 30px;
    margin-left: 46px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 46px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 482px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 7px;
    margin-right: auto;
    margin-left: 1px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 8px;
    margin-left: 1px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1050px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 975px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 20px;
    margin-right: 23px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 8px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 559px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 416px;
    order: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 34px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 75px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 7px;
    margin-left: 38px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 10px;
    margin-left: 38px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 416px;
    order: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    width: 187px;
    height: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1259px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 24px;
    margin-bottom: 50px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    width: 287px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 414px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    font-size: 1rem;
    margin-bottom: -7px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 334px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 25px;
    margin-right: 164px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 262px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 8px;
    margin-left: 145px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 145px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 251px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 21px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 312px;
    margin-left: 21px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 519px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-2 .u-text-3 {
    margin: 13px 15px 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 392px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 24px;
    margin-right: 36px;
    margin-left: 41px;
  }

  .u-section-2 .u-text-5 {
    width: 218px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 15px;
    margin-left: 52px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 7px;
    margin-left: 52px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 112px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-image-1 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-image-1 {
  border-color: transparent !important;
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before,
.u-section-2 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-image-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-image-3 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-image-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-image-3 {
  border-color: transparent !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-image-2 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-image-2 {
  border-color: transparent !important;
}.u-section-3 .u-sheet-1 {
  min-height: 832px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 54px auto 0;
}

.u-section-3 .u-group-1 {
  width: 828px;
  min-height: 664px;
  height: auto;
  margin: 5px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-3 .u-image-1 {
  width: 220px;
  height: 352px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 140px auto 0 20px;
}

.u-section-3 .u-image-2 {
  width: 220px;
  height: 352px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -352px 20px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 300px;
  height: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -471px auto 0;
}

.u-section-3 .u-image-4 {
  width: 300px;
  height: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 24px auto 0 264px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1083px;
  }

  .u-section-3 .u-group-1 {
    min-height: 936px;
    margin-top: 0;
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    width: 332px;
    height: 531px;
    margin-top: 20px;
  }

  .u-section-3 .u-image-2 {
    width: 332px;
    height: 531px;
    margin-top: -531px;
  }

  .u-section-3 .u-image-3 {
    width: 332px;
    height: 332px;
    margin-top: 33px;
    margin-left: 20px;
  }

  .u-section-3 .u-image-4 {
    width: 332px;
    height: 332px;
    margin-top: -332px;
    margin-right: 20px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2002px;
  }

  .u-section-3 .u-group-1 {
    margin-bottom: 60px;
    min-height: 1819px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 33px;
    margin-bottom: -13px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-1 {
    margin-left: 8px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    margin-left: 8px;
  }

  .u-section-3 .u-image-4 {
    margin-right: 0;
  }
}