.u-block-09fd-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-09fd-5 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  right: auto;
  padding: 0;
}

.u-block-09fd-6 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: auto;
  right: 0;
  padding: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/AlphaFullArt.jpg");
  background-position: 50% 19.05%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 869px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-1-1 .u-text-2 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 24px auto 0;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 24px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: 17px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 22px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/20231118_184151.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 869px;
}

.u-section-1-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 24px auto 0;
}

.u-section-1-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 46px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    margin-left: 141px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 36px;
    margin-left: 261px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
    margin-left: auto;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 24px;
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 46px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-1-2 .u-text-2 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 22px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/full-setup.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 869px;
}

.u-section-1-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 24px auto 0;
}

.u-section-1-3 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 46px;
    margin-right: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1-3 .u-text-1 {
    width: auto;
  }

  .u-section-1-3 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-3 .u-btn-1 {
    margin-top: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 24px;
  }

  .u-section-1-3 .u-btn-1 {
    margin-top: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 17px;
  }

  .u-section-1-3 .u-btn-1 {
    margin-top: 22px;
  }
}

 .u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/20240213_115142.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 869px;
}

.u-section-1-4 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 25px auto 0;
}

.u-section-1-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 46px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1-4 .u-text-1 {
    width: auto;
  }

  .u-section-1-4 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 47px;
    margin-right: 47px;
  }

  .u-section-1-4 .u-btn-1 {
    margin-top: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1-4 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 25px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1-4 .u-btn-1 {
    margin-top: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 3rem;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1-4 .u-text-2 {
    margin-top: 10px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1-4 .u-btn-1 {
    margin-top: 22px;
  }
}

 .u-section-1-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/WorkoutBanner.jpg");
  background-position: 50% 50%;
}

.u-section-1-5 .u-sheet-1 {
  min-height: 869px;
}

.u-section-1-5 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 24px auto 0;
}

.u-section-1-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 46px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-1-5 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1-5 .u-text-1 {
    width: auto;
  }

  .u-section-1-5 .u-text-2 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-1-5 .u-btn-1 {
    margin-top: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1-5 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1-5 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 24px;
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-1-5 .u-btn-1 {
    margin-top: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1-5 .u-text-1 {
    font-size: 3rem;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-1-5 .u-text-2 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1-5 .u-btn-1 {
    margin-left: 38px;
  }
}

 .u-section-1-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/FullLibrary.jpg");
  background-position: 50% 75.72%;
}

.u-section-1-6 .u-sheet-1 {
  min-height: 869px;
}

.u-section-1-6 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 24px auto 0;
}

.u-section-1-6 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 46px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-1-6 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1-6 .u-text-2 {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1-6 .u-text-1 {
    width: auto;
    margin-left: 228px;
  }

  .u-section-1-6 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-1-6 .u-btn-1 {
    margin-top: 36px;
    margin-left: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1-6 .u-text-1 {
    font-size: 3.75rem;
    margin-left: auto;
  }

  .u-section-1-6 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-6 .u-btn-1 {
    margin-top: 46px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-6 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-1-6 .u-btn-1 {
    margin-top: 21px;
  }
}

 .u-section-1-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/TennisBannerV2.jpg");
  background-position: 46.94% 21.63%;
  background-size: auto 125%;
}

.u-section-1-7 .u-sheet-1 {
  min-height: 869px;
}

.u-section-1-7 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 306px auto 0;
}

.u-section-1-7 .u-text-2 {
  font-size: 1.5rem;
  margin: 24px auto 0;
}

.u-section-1-7 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 46px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-1-7 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1-7 .u-btn-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1-7 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1-7 .u-text-2 {
    width: 513px;
  }

  .u-section-1-7 .u-btn-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1-7 .u-text-1 {
    font-size: 3rem;
    margin-top: 103px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1-7 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 17px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1-7 .u-btn-1 {
    margin-top: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1-7 .u-text-1 {
    width: 240px;
    margin-top: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1-7 .u-text-2 {
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-7 .u-btn-1 {
    margin-top: 46px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 562px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 97px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 400px;
  background-image: url("images/stage2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: Lato, sans-serif;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  background-image: none;
  font-weight: 700;
  font-family: Lato, sans-serif;
  margin: 25px 18px 0;
}

.u-section-2 .u-btn-1 {
  --radius: 2px;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0;
  padding: 8px 28px 8px 27px;
}

.u-section-2 .u-icon-1 {
  margin-left: 2px;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 0 auto 40px 118px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-image-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-2 .u-image-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 2px;
    margin-bottom: 43px;
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-image-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 281px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 23px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 23px;
    padding-top: 9px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-text-3 {
    margin: -325px 6px 60px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 778px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 49px auto 0;
}

.u-section-3 .u-video-1 {
  height: 565px;
  width: 1003px;
  margin: 22px auto 60px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-3 .u-video-1 {
    height: 497px;
    width: 883px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-3 .u-video-1 {
    height: 405px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-3 .u-video-1 {
    height: 286px;
    width: 508px;
    margin-top: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-3 .u-video-1 {
    height: 182px;
    width: 323px;
    margin-top: 13px;
    margin-bottom: 40px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 445px;
}

.u-section-4 .u-slider-1 {
  min-height: 405px;
  height: auto;
  width: 1020px;
  margin: 0 auto 40px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 22px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 80px 65px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  width: 431px;
  margin: 59px auto 0;
}

.u-section-4 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("images/spikey.png");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  font-weight: 400;
  width: 154px;
  margin: 12px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-4 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("images/collywabbles.png");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  font-weight: 400;
  width: 154px;
  margin: 12px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-4 .u-text-7 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-4 .u-image-3 {
  width: 83px;
  height: 83px;
  background-image: url("images/hornet.png");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  font-weight: 400;
  width: 154px;
  margin: 12px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-4 .u-text-10 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-4 .u-image-4 {
  width: 83px;
  height: 83px;
  background-image: url("images/tusseluss.png");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-12 {
  font-size: 1rem;
  font-weight: 400;
  width: 154px;
  margin: 12px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-4 .u-text-13 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-4 .u-image-5 {
  width: 83px;
  height: 83px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-4 .u-text-14 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-4 .u-text-15 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-4 .u-image-6 {
  width: 83px;
  height: 83px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-4 .u-text-16 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-4 .u-text-17 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-4 .u-image-7 {
  width: 83px;
  height: 83px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-4 .u-text-18 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
}

.u-section-4 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 431px;
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 87px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 443px;
    margin-bottom: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 416px;
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-15 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-17 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 66px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 24px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-17 {
    width: auto;
    margin-top: 81px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-7 {
    margin-top: 24px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 702px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 58px;
  margin-bottom: 58px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 586px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 8px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: auto;
  margin: 47px auto 0 26px;
}

.u-section-5 .u-text-2 {
  font-weight: normal;
  width: auto;
  margin: 20px 26px 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  margin: 26px auto 0 20px;
}

.u-section-5 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/SignedComic.png");
  min-height: 586px;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(51,51,51,0.4);
  font-weight: normal;
  margin: 0 auto 0 36px;
}

.u-section-5 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 0 75px 0 36px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  font-weight: normal;
  margin: 20px auto 0 36px;
}

.u-section-5 .u-icon-1 {
  margin-left: 2px;
  font-size: 1rem;
  vertical-align: 0px;
}

.u-section-5 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(64,64,64,1);
  font-style: normal;
  font-size: 3rem;
  font-weight: 700;
  margin: 22px auto 0 36px;
}

.u-section-5 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 26px 207px 0 36px;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  font-weight: normal;
  margin: 15px auto 0 36px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 610px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 26px;
  }

  .u-section-5 .u-image-1 {
    min-height: 483px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 107px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 586px;
  }

  .u-section-5 .u-image-1 {
    min-height: 675px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 26px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-right: 10px;
    margin-left: 26px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 26px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-left: 26px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-right: 10px;
    margin-left: 26px;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1183px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 686px;
  }

  .u-section-5 .u-text-5 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 586px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-5 .u-image-1 {
    min-height: 385px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-5 .u-text-3 {
    font-weight: 700;
    margin-top: 4px;
    margin-left: auto;
  }

  .u-section-5 .u-text-4 {
    width: 251px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-2 {
    --radius: 2px;
    font-weight: 700;
    margin-top: 23px;
    margin-left: auto;
    padding: 9px 21px 10px 20px;
  }

  .u-section-5 .u-text-5 {
    font-style: italic;
    font-size: 1.875rem;
    margin-left: auto;
  }

  .u-section-5 .u-text-6 {
    margin-top: 14px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-5 .u-btn-3 {
    --radius: 2px;
    font-weight: 700;
    margin-top: 22px;
    margin-left: auto;
    margin-bottom: -2px;
    padding: 9px 21px 10px 20px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1703px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 70px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 20px auto 0;
}

.u-section-6 .u-list-1 {
  width: 1078px;
  margin: 65px auto 20px;
}

.u-section-6 .u-repeater-1 {
  min-height: 1454px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 7px 0;
}

.u-section-6 .u-image-1 {
  height: 212px;
  width: 248px;
  object-position: 50% 50%;
  margin: 0 0 0 auto;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 6px 0 20px;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0 20px;
}

.u-section-6 .u-container-layout-2 {
  padding: 7px 0;
}

.u-section-6 .u-image-2 {
  height: 212px;
  width: 248px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 6px 0 20px;
}

.u-section-6 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0 20px;
}

.u-section-6 .u-container-layout-3 {
  padding: 7px 0;
}

.u-section-6 .u-image-3 {
  height: 212px;
  width: 248px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 6px 0 20px;
}

.u-section-6 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 0 0 20px;
}

.u-section-6 .u-container-layout-4 {
  padding: 7px 0;
}

.u-section-6 .u-image-4 {
  height: 212px;
  width: 248px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 6px 0 20px;
}

.u-section-6 .u-text-10 {
  font-size: 1.125rem;
  margin: 20px 0 0 20px;
}

.u-section-6 .u-container-layout-5 {
  padding: 7px 0;
}

.u-section-6 .u-image-5 {
  height: 212px;
  width: 248px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-text-11 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 6px 0 20px;
}

.u-section-6 .u-text-12 {
  font-size: 1.125rem;
  margin: 20px 0 0 20px;
}

.u-section-6 .u-container-layout-6 {
  padding: 7px 0;
}

.u-section-6 .u-image-6 {
  height: 212px;
  width: 248px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 6px 0 20px;
}

.u-section-6 .u-text-14 {
  font-size: 1.125rem;
  margin: 20px 0 0 20px;
}

.u-section-6 .u-container-layout-7 {
  padding: 7px 0;
}

.u-section-6 .u-image-7 {
  height: 212px;
  width: 248px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-text-15 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 6px 0 20px;
}

.u-section-6 .u-text-16 {
  font-size: 1.125rem;
  margin: 20px 0 0 20px;
}

.u-section-6 .u-container-layout-8 {
  padding: 7px 0;
}

.u-section-6 .u-image-8 {
  height: 212px;
  width: 248px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-text-17 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 6px 0 20px;
}

.u-section-6 .u-text-18 {
  font-size: 1.125rem;
  margin: 20px 0 0 20px;
}

.u-section-6 .u-container-layout-9 {
  padding: 7px 0;
}

.u-section-6 .u-image-9 {
  height: 212px;
  width: 248px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-text-19 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 6px 0 20px;
}

.u-section-6 .u-text-20 {
  font-size: 1.125rem;
  margin: 20px 0 0 20px;
}

.u-section-6 .u-container-layout-10 {
  padding: 7px 0;
}

.u-section-6 .u-image-10 {
  height: 212px;
  width: 248px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-text-21 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 6px 0 20px;
}

.u-section-6 .u-text-22 {
  font-size: 1.125rem;
  margin: 20px 0 0 20px;
}

.u-section-6 .u-container-layout-11 {
  padding: 7px 0;
}

.u-section-6 .u-image-11 {
  height: 212px;
  width: 248px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-text-23 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 6px 0 20px;
}

.u-section-6 .u-text-24 {
  font-size: 1.125rem;
  margin: 20px 0 0 20px;
}

.u-section-6 .u-container-layout-12 {
  padding: 7px 0;
}

.u-section-6 .u-image-12 {
  height: 212px;
  width: 248px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-text-25 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 6px 0 20px;
}

.u-section-6 .u-text-26 {
  font-size: 1.125rem;
  margin: 20px 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1693px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 1265px;
  }

  .u-section-6 .u-image-1 {
    object-position: 50% 28.87%;
    height: 236px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
  }

  .u-section-6 .u-image-4 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
  }

  .u-section-6 .u-image-5 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-12 {
    margin-left: 0;
  }

  .u-section-6 .u-image-6 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-14 {
    margin-left: 0;
  }

  .u-section-6 .u-image-7 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-16 {
    margin-left: 0;
  }

  .u-section-6 .u-image-8 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-18 {
    margin-left: 0;
  }

  .u-section-6 .u-image-9 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-20 {
    margin-left: 0;
  }

  .u-section-6 .u-image-10 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-21 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-22 {
    margin-left: 0;
  }

  .u-section-6 .u-image-11 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-23 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-24 {
    margin-left: 0;
  }

  .u-section-6 .u-image-12 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-25 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-26 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 4176px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
    margin-bottom: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 3935px;
  }

  .u-section-6 .u-image-1 {
    height: 362px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 362px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 362px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-4 {
    height: 362px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-5 {
    height: 362px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-6 {
    height: 362px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-7 {
    height: 362px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-8 {
    height: 362px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-9 {
    height: 362px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-10 {
    height: 362px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-11 {
    height: 362px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-12 {
    height: 362px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 7048px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-image-1 {
    height: 400px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-image-2 {
    height: 400px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-image-3 {
    height: 400px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-image-4 {
    height: 400px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-9 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-image-5 {
    height: 400px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-11 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-image-6 {
    height: 400px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-13 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-image-7 {
    height: 400px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-15 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-image-8 {
    height: 400px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-17 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-image-9 {
    height: 400px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-19 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-image-10 {
    height: 400px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-21 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-image-11 {
    height: 400px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-23 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-image-12 {
    height: 400px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-25 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 6026px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-image-1 {
    height: 252px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 252px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 252px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-4 {
    height: 252px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-5 {
    height: 252px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-6 {
    height: 252px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-7 {
    height: 252px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-8 {
    height: 252px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-9 {
    height: 252px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-10 {
    height: 252px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-11 {
    height: 252px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-12 {
    height: 252px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 483px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 217px;
  height: 97px;
  margin: 30px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 502px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 472px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 525px;
  }
}